@mixin flex {
    display: flex;
    align-items: center;
}
@mixin font-line {
    font-size: 20px;
    line-height: 30px;
}
@mixin wieght-height {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
@mixin font16-24 {
    font-size: 16px;
    line-height: 24px;
    color: $main-brown;
}
@mixin button {
    background-color: $main-lightblack;
    color: $main-white;
    border-radius: 5px;
    &:hover {
        color: $main-black;
        background-color: $main-white;
        border: 2px solid $main-black;
    }
}
@mixin title {
    font-size: 48px;
    line-height: 80px;
    color: $main-black;
    text-align: center;
}
@mixin card-title {
    font-size: 30px;
    line-height: 80px;
    color: $main-lightblack;
}
@mixin font18-27 {
    font-size: 18px;
    line-height: 27px;
}
@mixin font14-21 {
    font-size: 14px;
    line-height: 21px;
}
@mixin font13-19 {
    font-size: 13px;
    line-height: 19px;
}