.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
    &-site {
        @include flex;
    }
    &-logo {
        margin-right: auto;
        margin-left: 10px;
        &__img {
            width: 106px;
            height: 54px;
            display: block;
        }
    }
}
.site-nav {
    margin-right: auto;
    &__list {
        @include flex;
    }
    &__link {
        font-weight: 500;
        @include font-line;
        color: $main-lightblack;
        margin-left: 50px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid $main-lightblack;
        }
    }
    &__header--link {
        @include wieght-height;
        color: $main-black;
        border: 2px solid $main-black;
        padding: 17px 57px;
        border-radius: 8px;
        margin-right: 10px;
        &:hover {
            color: #ffffff;
            background-color: $main-black;
        }
    }
}
.link-margin {
    margin-left: 0;
}
.toggle {
    visibility: hidden;
}
.fa-bars {
    display: none;
    font-size: 25px;
    margin-right: 20px;
    margin-top: -10px;
}
.fa-xmark {
    font-size: 25px;
	display: none;
    padding-left: 30px;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
	background-color: #FFFFFF;
	width: 60%;
	height: 100vh;
	transform: translateX(-800px);
	box-shadow: 0 0 5px 1px rgb(38, 33, 33);
	transition: 1s;
	padding: 10px;
}
input:checked ~ .fa-bars {
    display: none;
}
input:checked ~ .fa-xmark {
    display: block;
}
input:checked ~ .navbar {
    transform: translateX(0px);
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and(max-width: 992px) {
    .container {
        max-width: 929px;
    }
    .header {
        padding: 40px 0;
        &-logo__img {
            width: 89px;
            height: 45px;
        }
    }
    .site-nav {
        &__link {
            margin-left: 35px;
            @include font16-24;
            color: $main-black;
        }
        &__header--link {
            padding: 11px 40px;
            @include font18-27;
        }
    }
}
@media only screen and(max-width: 767px) {
    .container {
        max-width: 690px;
    }
    .site-nav {
        display: none;
        &__header--link {
            display: none;
        }
    }
    .fa-bars {
        display: block;
    }
    .fa-xmark {
        display: none;
        margin-left: auto;
        margin-right: 30px;
    }
    .navbar {
        display: block;
        @include font-line;
    } 
    .navbar-link {
        display: block;
        margin-left: 25px;
    }
    .mini-navbar__link {
        margin-bottom: 20px;
    }

}
@media only screen and(max-width: 575px) {
    .container {
        max-width: 510px;
    }
}
@media only screen and(max-width:320px) {
    .container {
        max-width: 290px;
    }
}