#about {
    margin-top: 280px;
    padding: 0 10px;
}
.about {
    @include flex;
    justify-content: space-between;
    &-text {
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        &__title {
            @include title;
            text-align: start;
            margin-bottom: -60px;
        }
        &__subtitle {
            color: $main-brown;
            @include font-line;
            max-width: 635px;
        }
    }
    &-card {
        @include flex;
        flex-direction: column;
        &__margin {
            margin: 0 120px;
        }
        &s {
            @include flex;
            justify-content: space-between;
            margin-top: 80px;
        }
        &__title {
            @include title;
        }
        &__subtitle {
            @include font-line;
            color: $main-brown;
        }
    }
}
@media only screen and(max-width: 1170px) {
    .container {
        max-width: 1070px;
    }
    #about {
        margin-top: 200px;
    }
    .about {
        &-text {
            &__title {
                font-size: 42px;
                margin-bottom: -30px;
            }
            &__subtitle {
                font-size: 18px;
                line-height: 26px;
                max-width: 580px;
            }
        }
        &-card {
            &__margin {
                margin: 0 65px;
            }
            &s {
                margin-top: 40px;
            }
            &__title {
                font-size: 42px
            }
            &__subtitle {
                font-size: 18px;
            }
        }
        &-img {
            width: 418px;
            height: 418px;
        }
    }    
}
@media only screen and(max-width: 992px) {
    .container {
        max-width: 929px;
    }
    #about {
        margin-top: 106px;
    }
    .about {
        &-text {
            &__title {
                font-size: 36px;
                margin-bottom: -20px;
            }
            &__subtitle {
                @include font16-24;
                max-width: 530px;
            }
        }
        &-card {
            &__margin {
                margin: 0 50px;
            }
            &s {
                margin-top: 30px;
            }
            &__title {
                font-size: 36px
            }
            &__subtitle {
                @include font16-24;
            }
        }
        &-img {
            width: 336px;
            height: 336px;
        }
    }    
}