#about {
    margin-top: 280px;
    padding: 0 10px;
}
.about {
    @include flex;
    justify-content: space-between;
    &-text {
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        &__title {
            @include title;
            text-align: start;
            margin-bottom: -60px;
        }
        &__subtitle {
            color: $main-brown;
            @include font-line;
            max-width: 635px;
        }
    }
    &-card {
        @include flex;
        flex-direction: column;
        &__margin {
            margin: 0 120px;
        }
        &s {
            @include flex;
            justify-content: space-between;
            margin-top: 80px;
        }
        &__title {
            @include title;
        }
        &__subtitle {
            @include font-line;
            color: $main-brown;
        }
    }
}
@media only screen and(max-width: 1170px) {
    .container {
        max-width: 1070px;
    }
    #about {
        margin-top: 200px;
    }
    .about {
        &-text {
            &__title {
                font-size: 42px;
                margin-bottom: -30px;
            }
            &__subtitle {
                font-size: 18px;
                line-height: 26px;
                max-width: 580px;
            }
        }
        &-card {
            &__margin {
                margin: 0 65px;
            }
            &s {
                margin-top: 40px;
            }
            &__title {
                font-size: 42px
            }
            &__subtitle {
                font-size: 18px;
            }
        }
        &-img {
            width: 418px;
            height: 418px;
        }
    }    
}
@media only screen and(max-width: 992px) {
    .container {
        max-width: 929px;
    }
    #about {
        margin-top: 106px;
    }
    .about {
        &-text {
            &__title {
                font-size: 36px;
                margin-bottom: -20px;
            }
            &__subtitle {
                @include font16-24;
                max-width: 530px;
            }
        }
        &-card {
            &__margin {
                margin: 0 50px;
            }
            &s {
                margin-top: 30px;
            }
            &__title {
                font-size: 36px
            }
            &__subtitle {
                @include font16-24;
            }
        }
        &-img {
            width: 336px;
            height: 336px;
        }
    }    
}
@media only screen and(max-width: 767px) {
    .container {
        max-width: 690px;
    }
    #about {
        margin-top: 52px;
    }
    .about {
        &-text {
            &__title {
                font-size: 30px;
                margin-bottom: 0px;
            }
            &__subtitle {
                font-size: 14px;
                line-height: 21px;
                max-width: 321px;
            }
        }
        &-card {
            &__margin {
                margin: 0 50px;
            }
            &s {
                margin-top: 30px;
            }
            &__title {
                font-size: 30px
            }
            &__subtitle {
                font-size: 14px;
                line-height: 21px;
            }
        }
        &-img {
            width: 295px;
            height: 295px;
        }
    }    
}
@media only screen and(max-width: 690px) {
    .container {
        max-width: 600px;
    }
    #about {
        margin-top: 52px;
    }
    .about {
        @include flex;
        flex-direction: column-reverse;
        &-text {
            @include flex;
            flex-direction: column;
            &__title {
                text-align: center;
                font-size: 30px;
            }
            &__subtitle {
                text-align: center;
                max-width: 600px;
                margin-top: 30px;
            }
        }
        &-card {
            &__margin {
                margin: 0 50px;
            }
            &s {
                margin-top: 30px;
            }
            &__title {
                font-size: 30px
            }
            &__subtitle {
                font-size: 14px;
                line-height: 21px;
            }
        }
        &-img {
            width: 352px;
            height: 352px;
        }
    }    
}
@media only screen and(max-width: 410px) {
    .container {
        max-width: 370px;
    }
    #about {
        margin-top: 50px;
    }
    .about {
        &-text {
            &__title {
                font-size: 24px;
            }
            &__subtitle {
                text-align: center;
                max-width: 290px;
                margin-top: 42px;
                font-size: 13px;
                line-height: 19px;
            }
        }
        &-card {
            &__margin {
                margin: 50px 0;
            }
            &s {
                @include flex;
                flex-direction: column;
                margin-top: 30px;
            }
            &__title {
                font-size: 24px;
                line-height: 40px;
            }
            &__subtitle {
                font-size: 13px;
                line-height: 19px;
            }
        }
        &-img {
            width: 283px;
            height: 283px;
        }
    }    
}
@media only screen and(max-width: 320px) {
    .container {
        max-width: 290px;
    }
}